.blog-title {
  background-color: $regard-green;
  padding: 100px 0 50px 0;
  
  h1 {
    color: $white;
    line-height: 1.2em;
  }
  
  a {
    color: $black;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.blog-post {
  padding: 50px 0;
}