$white: #fff;
$black: #645e54;
$grey: #eee;
$light-grey: #F7F7F7;
$warm-grey: #E9E5D8;
$regard-green: #87bc28;
$darker-green: #73B02D;


$sidebar-bg: #43454D;
$sidebar-selected-bg: #3D3F45;
$sidebar-highlight: #4A4D56;
// We use these as default colors throughout
$primary-color: $regard-green;
$secondary-color: $sidebar-highlight;
$alert-color: #f04124;
$success-color: $darker-green;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-font-color: $black;
$header-font-color: $body-font-color;

//
// TOP BAR
//
$topbar-bg-color: $white;
$topbar-height: 80px;
// $topbar-margin-bottom: 0;

// Style the top bar dropdown elements
$topbar-dropdown-bg: $white;
$topbar-dropdown-link-color: $black;
$topbar-dropdown-link-bg: $regard-green;
$topbar-dropdown-toggle-color: $black;
$topbar-dropdown-toggle-alpha: 0.4;  

$topbar-link-color: $black;
$topbar-link-color-hover: $black;
$topbar-link-bg-hover: $grey;
$topbar-menu-icon-color: $black;