$sparklineOffset: 23px;
$sparklineHeight: 84px;

.hero {
  padding: 80px 0 $sparklineOffset 0;
  background: url('/assets/img/tiny_grid.png') repeat bottom left;
  border-top: 1px solid rgba($black, 0.2);
  border-bottom: 1px solid rgba($black, 0.2);

  h1 {
    font-size: 5rem;
    letter-spacing: -2px;

    .transparent:hover {
      background: url('/assets/img/tiny_grid.png') repeat 3px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media #{$small-only} {
    h1 {
      font-size: 3rem;
    }
  }

  h2 {
    color: rgba($black, 0.8);
  }

  form {
    margin-top: 50px;
  }
}

.form-explanation {
  font-size: 0.8rem;
  position: relative;
  top: -10px;
  left: 8px;
  color: $black;
}

.sparkline {
  background: url('/assets/img/sparkline.png') repeat-x;
  height: $sparklineHeight;
  max-width: 100%;
  margin-top: 30px;
}

.big-green {
  background-color: $darker-green;
}

.big-green h1, .big-green h2, .big-green h3, .big-green h4, .big-green h5, .big-green p {
  color: $white;
}

.big-green .button {
  background-color: $black;
}

.big-green .form-explanation {
  color: $white;
}

.why-regard, .values {
  padding: 20px 0;
}

.big-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.big-padding-top {
  padding-top: 80px;
}

.small-padding {
  padding-top: 30px;
}

.height-of-split-logo {
  height: 144px;
}

@media #{$small-only} {
  .big-padding {
    padding: 50px 0 50px 0;
  }
}

.white-logo {
  position: absolute;
  top: 50px;
  left: 0;
}

.grey-column {
  background-color: $grey
}

@media #{$medium-up} {
  .grey-stripe {
    background: linear-gradient(to right, $white 50%, $grey 50%);
  }
}

.spacer {
  height: 1.5rem;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.usereventslink {
  color: $regard-green !important;
}

.hero-arrow {
  position: absolute;
  top: -170px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  right: 220px;
  animation: fadein 2s;
}

@media #{$small-only} {
   .hero-arrow {
     display: none;
   }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
