$side-nav-width: 250px;

.main-section {
  min-height: 1000px;
  position: relative;
  background: $light-grey;
}

nav.tab-bar {
  border-bottom: 1px solid darken($tabbar-bg, 10%);
  padding-right: 20px;
}

.left-side-nav {
  @include side-nav();

  background-color: $sidebar-bg;
  width: $side-nav-width;
  border-right: 1px solid $sidebar-selected-bg;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
}

.left-side-nav li {
  margin: 0;
  position: relative;
}

.left-side-nav li.heading {
  font-size: 1em;
  padding-left: 10px;
  padding-bottom: 10px;
  color: $white;
}

.left-side-nav li a:not(.button), .left-side-nav li.muted {
  padding: 5px 20px;
  width: 100%;
  color: $white !important;
}

.left-side-nav li a:hover {
  background-color: $sidebar-selected-bg;
  color: $white !important;
}

.left-side-nav li a.active {
  background-color: $sidebar-selected-bg;
  border-left: 5px solid $regard-green;
  padding-left: 15px;
  color: $regard-green !important;
}

.left-side-nav li a.menu-actions {
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.muted {
  opacity: 0.5;
}

.main-container {
  margin-left: $side-nav-width;
  margin-top: 0 !important;
}

.row.full-width {
  width: 100%;
  max-width: 100%;
}

.row.pad {
  padding: 50px 0;
}

.editable {
  cursor: text;
}

.editable:hover, .editable:focus {
  outline: 1px dotted $black;
}

.label {
  border: 1px solid darken($white, 50%);
  border-radius: 3px;
}

li.heading .label {
  position: absolute;
  right: 12px;
}

.header-image {
  height: 40px;
}
