.contain-to-grid
  nav.top-bar(data-topbar)
    ul.title-area
      li.name
        h1
          a(href="/")
            img(src="/assets/img/regard-logo-and-text.png" height="54px" width="172px")
    section.top-bar-section
      ul.right
        if user
          li.has-dropdown
            a(href="#")
              img(src=user._json.avatar_url height="54px" width="54px")
              = user.displayName
            ul.dropdown
              li
                a(href="/logout") Logout
        else
          li
            a(href="/login") Log in
