extends layout

block content
    .row
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
        .large-8.columns
            .profile
                h4 Kevin
                h5 developer
                p Neil is awesome
                a( href="mailto:neil@withregard.io") kevin@withregard.io
    .row
        .large-8.columns
            .profile
                h4 Andrew
                h5 developer
                p Neil is awesome
                a( href="mailto:andrew@withregard.io") andrew@withregard.io
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
     .row
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
        .large-8.columns
            .profile
                h4 Kevin
                h5 developer
                p Neil is awesome
                a( href="mailto:neil@withregard.io") kevin@withregard.io
    .row
        .large-8.columns
            .profile
                h4 Andrew
                h5 developer
                p Neil is awesome
                a( href="mailto:andrew@withregard.io") andrew@withregard.io
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
     .row
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
        .large-8.columns
            .profile
                h4 Kevin
                h5 developer
                p Neil is awesome
                a( href="mailto:neil@withregard.io") kevin@withregard.io
    
        