extends layout

block content
    .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 Kevin Boyle
                h5 developer
                p Neil is awesome
    .row
        .profile
            .large-8.columns
                h4 Andrew Hunter
                h5 developer
                p Neil is awesome
            .large-4.columns
                img(src="http://placehold.it/250x250")
     .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 David Blurton
                h5 developer
                p Neil is awesome
    .row
        .profile
            .large-8.columns
                h4 Dominick Reed
                h5 designer
                p Neil is awesome
            .large-4.columns
                img(src="http://placehold.it/250x250")
     .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 Neil Anderson
                h5 developer
                p Neil is awesome
    
        