extends layout

block content
  section.hero
    .row
      .large-12.columns.text-center
        h2 Product insights, collected respectfully
        h4.subheader Validate your product improvement ideas with data your users are happy to give up
    .row
      .large-6.columns.large-centered
        form(method='post', action='#')
          .row.collapse
            .small-8.medium-8.columns
              input(type='text', name='email', placeholder='Enter your email')
              span.hero-form-explanation Get notified when the beta is available
            .small-4.medium-4.columns
              input.postfix.small.button.expand(type='submit', href='#', value='I\'m interested')

  section.why-regard
    .row
      .large-12.columns.text-center
        h2 Why Regard works:
  section.side-by-side-headers
    .row
      .large-6.columns.text-center
        h3 Dev team
      .large-6.columns.text-center
        h3 End users