.contain-to-grid
  nav.top-bar(data-topbar)
    ul.title-area
      li.name
        h1
          a(href="/")
            img(src="/assets/img/regard-logo-and-text.png" height="54px" width="172px")
    section.top-bar-section
      ul.right
        li(id="userLink")
        li(class="#{menu==='blog' ? 'active' : ''}")
          a(href="/blog") Blog
        li(class="#{menu==='about' ? 'active' : ''}")
          a(href="/about") About
        