form(action='/signup', method='post')
  .row.collapse
    .small-8.medium-8.columns
      input.required.email(type='email', value='', name='email', placeholder='Enter your email')
      span.form-explanation Be notified when the beta is ready 
      #mce-responses.clear
        #mce-error-response.response(style='display: none;')
        #mce-success-response.response(style='display: none;')
      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='forbots', value='')
      .clear
    
    .small-4.medium-4.columns
      input.postfix.small.button.expand(type='submit', value='Submit', name='subscribe')