<h1>Welcome to Regard - let's get started</h1>
<p>To get started, we need to know the name of your organization and product. Don't worry, you can change these later.</p>

{{input value=organization placeholder="organization name"}}
{{input value=project placeholder="project name"}}

<div class="clearfix">
  <button class="right" {{action 'createOrganization'}}>Next step - install client</button>
</div>
