<h1>Install client</h1>

<p>To send us data you need to configure your organization and product. Then you can send us events that describe how users are using your product</p>
<h3>Javascript</h3>
<p>Install using require.js</p>

<pre>
  <code class="javascript">
requirejs.config({
  paths: {
    'regard': 'https://github.com/with-regard/regard-js-client/releases/download/v0.6-alpha/regard'
  }
});

require(['regard'], function (regard) {
  regard.setOrganization('{{organization}}');
  regard.setProduct('{{product}}');

  regard.trackEvent('page.visited', {
    'page.path': location.pathname,
    'page.referrer': document.referrer
  }).then(function (e) {
    console.log(e)
  });
});
  </code>
</pre>

<p>or <a href="https://github.com/with-regard/regard-js-client/releases/download/v0.6-alpha/regard.js" target="_blank">download the javascript client library</a></p>

<div class="clearfix">
  <button class="right" {{action 'goToProject'}}>Setup completed - see the data</button>
</div>

<div class="alert-box secondary">
  Having trouble getting started? <a href="mailto:kevin@withregard.io">Send us an email</a> and we'll get you up and running.
</div>
