extends layout

block content
  section.values     
      .row
        .large-12.columns
          h2 We believe:
    .row
      .large-12.columns
        ul
          li
            h4 Analytics should be transparent
          li
            h4 Users and developers should work together to improve the product
          li 
            h4 Only data which can improve the product should be collected
          li
            h4 Developers should know the purpose of the data before collecting it