extends layout

block content
    .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 Kevin Boyle
                h5 developer
    .row
        .profile
            .large-8.columns
                h4 Andrew Hunter
                h5 developer
            .large-4.columns
                img(src="http://placehold.it/250x250")
     .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 David Blurton
                h5 developer
    .row
        .profile
            .large-8.columns
                h4 Dominick Reed
                h5 designer
            .large-4.columns
                img(src="http://placehold.it/250x250")
     .row
        .profile
            .large-4.columns            
                img(src="http://placehold.it/250x250")
            .large-8.columns
                h4 Neil Anderson
                h5 developer
    section.big-padding
        .row
            .large-6.columns.large-centered  