extends layout

block content
    .row
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
                h4 Kevin Boyle
                p Neil is awesome
                a( href="mailto:neil@withregard.io") neil@withregard.io
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
                h4 David Blurton
                p Neil is awesome
                a( href="mailto:david@withregard.io") david@withregard.io
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
                h4 Andrew Hunter
                p Neil is awesome
                a( href="mailto:andrew@withregard.io") andrew@withregard.io
    .row
        .large-4.columns
            .profile
                img(src="http://placehold.it/200x200")
                h4 Dominick Reed
                p Neil is awesome
                a( href="mailto:dom@withregard.io") dom@withregard.io
        .large-4.columns.end
            .profile
                img(src="http://placehold.it/200x200")
                h4 Neil Anderson
                p Neil is awesome
                a( href="mailto:neil@withregard.io") neil@withregard.io