extends layout

block content
  section.hero
    .row
      .large-12.columns.text-center
        h2 Product insights, collected respectfully
        h4.subheader Validate your product improvement ideas with data your users are happy to give
    .row
      .large-6.columns.large-centered
        include includes/sign-up-form
          
  section.value-proposition
    .row
      .large-12.columns.text-center
        h2 A new way to collect metrics - with Regard
        h4.subheader Build a better product whilst respecting your users privacy. 
  
  section.benefits
   .row
      .large-6.columns
        h4 Make decisions that matter
        p Don't just collect data - #[a(href="#") run experiments] to get real answers.
      .large-6.columns
        h4 Be transparent about the data you collect
        p Build trust between you and your users by showing them what you want to collect.
      .large-6.columns
        h4 Start with questions, not data
        p We believe you should have a hypothesis before you collect any data. Our service makes you specify your assumptions up front, so you don't end up with a pile of data to decipher. 
      .large-6.columns
        h4 Collaborate with your users to improve your product
        p We believe that developers and users should work together to improve the product. We help to start a conversation with your users, rather than spying on them.
      //.large-6.columns
      //  h4 Do the right thing for your users.
      //  p Respect your users privacy.
    .row  
      .large-6.columns
        h4 Sign up now 
        include includes/sign-up-form