extends layout
include mixins/alerts

block content
  if message && message.length
    .medium-6.columns.medium-centered
      +alert-success(message)

  section.hero
    .row
      .medium-12.columns.text-center
        h1 Product insights, collected respectfully
        h4 Validate your product improvement ideas with data your users are happy to give
    .row
      .medium-6.columns.medium-centered
        include includes/sign-up-form
    .sparkline
  section.big-green
    .big-padding
      .row
        .medium-12.columns.text-center
          h3 Regard is an analytics platform where all the data is collected <strong>transparently</strong>. It's the only way to get the <strong>answers</strong> you need to improve your product while treating your users with <strong>respect</strong>.
  section.grey-stripe
    .row.hide-for-small.only
      .medium-6.columns
        .clearfix.big-padding
          h1.right Mutually
      .medium-6.columns.grey-column
        .big-padding
          h1 beneficial

    .row
      .medium-6.columns.small-padding
        .row.hide-for-small-only
          .medium-9.columns.height-of-split-logo
            h3.vertical-center Better for your end users
          .medium-3.columns
            img.right(src="/assets/img/regard-left.svg")
        .row.show-for-small-only
          .small-12.columns
            h3.big-padding Better for your end users
        .row.small-padding
          .medium-3.columns
            i.book-icon.right.small-centered
          .medium-9.columns
            h4 Complete transparency
            p You users can see exactly what data is being collected from them, giving them confidence that you are not abusing them in any way.
          .medium-3.columns
            i.anonymous-icon.right.small-centered
          .medium-9.columns
            h4 No personal data collected
            p A user's right to anonymity is built in to the service and it is up to them if they decide to disclose any identifiable data.
            .spacer.hide-for-small-only
          .medium-3.columns
            i.support-icon.right.small-centered
          .medium-9.columns
            h4 Quick access to support
            p Through the shared data the user has easy access to the dev team and can participate in their research questions.
            .spacer.hide-for-small-only
          .medium-3.columns
            i.performance-icon.right.small-centered
          .medium-9.columns
            h4 Performance stats
            p Users can see and share some key stats of their product usage. For example, being able to prove the time spent in a tool could be a badge of honour for them in their industry.
      .medium-6.columns.grey-column.small-padding
        .row
          .medium-3.columns
            img.hide-for-small-only(src="/assets/img/regard-right.svg")
          .medium-9.columns.height-of-split-logo
            h3.vertical-center Better for the dev team
        .row.small-padding
          .medium-3.columns
            i.stethoscope-icon.right.small-centered
          .medium-9.columns
            h4 Focussed data collection
            p We help you to clarify your eperiments so you only collect data that's useful to answer your questions.
          .medium-3.columns
            i.users-icon.right.small-centered
          .medium-9.columns
            h4 Increased user participation
            p More users opt-in when they are confident what data they're sharing, which leads to increased statistical confidence and quicker to validate experiments.
          .medium-3.columns
            i.conversation-icon.right.small-centered
          .medium-9.columns
            h4 Easily contact your users
            p We make it easy to anonymously contact users who have used certain features or taken certain routes so you can better understand their motivations.
          .medium-3.columns
            i.graph-icon.right.small-centered
          .medium-9.columns
            h4 Quicker answers
            p With more-focussed experiemnts and more users willing to participate, your product will get better quickly.
            .spacer.hide-for-small-only

  section.big-green.big-padding
    .row
      .medium-6.columns.medium-centered
        include includes/sign-up-form