extends layout
include mixins/alerts

block content
  if message && message.length
    .medium-6.columns.medium-centered
      +alert-success(message)
    
  section.hero
    .row
      .medium-12.columns.text-center    
        h1 Product insights, collected respectfully
        h4 Validate your product improvement ideas with data your users are happy to give
    .row
      .medium-6.columns.medium-centered
        include includes/sign-up-form  
    .sparkline
  section.big-green        
    section.big-padding
      .row
        .medium-12.columns.text-center
          h1 A new way to collect metrics
          h4 Build a better product whilst respecting your users' privacy

    section.big-padding
      .row
        .medium-5.columns
          h4 Be transparent, gain trust
          p Build trust between you and your users by showing them what you want to collect.
        .medium-2.columns
          img.white-logo.show-for-medium-up(src="/assets/img/regard-white-logo.png")
        .medium-5.columns
          h4 Start with questions, not data
          p We believe you should have a hypothesis before you collect any data. Our service makes you specify your assumptions up front, so you don't end up with a pile of data to decipher. 
      .row
        .medium-5.columns
            h4 Collaborate with your users to improve your product
            p We believe that developers and users should work together to improve the product. We help to start a conversation with your users, rather than spying on them.
          .medium-5.columns
            h4 Make decisions that matter
            p Don't just collect data - run experiments to get real answers.
  section.grey-stripe
    .row.hide-for-small.only
      .medium-6.columns
        .clearfix.big-padding
          h1.right Mutually
      .medium-6.columns.grey-column
        .big-padding 
          h1 beneficial
    .row.show-for-small-only
      .small-12.columns
        h1.big-padding Mutually beneficial
    .row
      .medium-6.columns
        .row(data-equalizer)
          .medium-9.columns(data-equalizer-watch)
            h5.vertical-center Better for your end users
          .medium-3.columns(data-equalizer-watch)
            img.hide-for-small-only.right(src="/assets/img/regard-left.svg")
        .row.big-padding
          .medium-3.columns
            i.book-icon
          .medium-9.columns
            h5 Complete transparency
            p You users can see exactly what data is being collected from them, giving them confidence that you are not abusing them in any way.
          .medium-3.columns
            i.anonymous-icon
          .medium-9.columns
            h5 No personal data collected
            p A user's right to anonymity is built in to the service and it is up to them if they decide to disclose any identifiable data.
            .spacer.hide-for-small-only
          .medium-3.columns
            i.support-icon
          .medium-9.columns
            h5 Quick access to support
            p Through the shared data the user has easy access to the dev team and can participate in their research questions. 
            .spacer.hide-for-small-only
          .medium-3.columns
            i.performance-icon
          .medium-9.columns
            h5 Performance stats
            p Users can see and share some key stats of their product usage. For example, being able to prove the time spent in a tool could be a badge of bonour for them in their industry.
      .medium-6.columns.grey-column
        .row(data-equalizer)
          .medium-3.columns(data-equalizer-watch)
            img.hide-for-small-only(src="/assets/img/regard-right.svg")  
          .medium-9.columns(data-equalizer-watch)
            h5.vertical-center Better for the dev team
        .row.big-padding
          .medium-3.columns
            i.stethoscope-icon
          .medium-9.columns
            h5 Focussed data collection
            p We help you to clarify your eperiments so you only collect data that's useful to answer your questions.
          .medium-3.columns
            i.users-icon
          .medium-9.columns
            h5 Increased user participation
            p More users opt-in when they are confident what data they're sharing, which leads to increased statistical confidence and quicker to validate experiments.
          .medium-3.columns
            i.conversation-icon
          .medium-9.columns
            h5 Easily contact your users
            p We make it easy to anonymously contact users who have used certain features or taken certain routes so you can better understand their motivations.
          .medium-3.columns
            i.graph-icon
          .medium-9.columns
            h5 Quicker answers
            p With more-focussed experiemnts and more users willing to participate, your product will get better quickly. 
            .spacer.hide-for-small-only
    
  section.big-green.big-padding
    .row
      .medium-6.columns.medium-centered
        include includes/sign-up-form