.axis path,
.axis line {
  fill: none;
  stroke: $black;
  shape-rendering: crispEdges;
}

.bar {
  fill: $regard-green;
}

.bar:hover {
  fill: darken( $regard-green, 10% );
}

.axis {
  font-size: 80%;
}

.axis.value line, .axis.value path, .axis.y line, .axis.y path {
  display: none;
}

.axis.value text, .axis.x {
  fill: lighten($black, 10%);
}