.profile
{
    padding: 50px 0;
      
    h5
    {
        color: $primary-color;
    }
}

.git-icon
{
  margin-right: 0px;
  padding-right: 0px;
}

.twit-icon
{
  margin-left: -5px;
  padding-left: 0px;
  margin-top: 4px;
}