.git-icon 
{
  margin-right: 0px;
  padding-right: 0px;
}

.twit-icon
{
  margin-right: 0px;
  padding-right: 0px;
  margin-left: -5px;
  padding-left: 0px;
  margin-top: 4px;
}

.mail-icon
{
  margin-left: -14px;
  padding-left: 0px;
  margin-top: -16px;
}