//
// BODY
//
$body-font-family: ubuntu, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$font-smoothing: antialiased;

//
// HEADERS
//
$header-font-family: montserrat, sans-serif;
$header-font-weight: 400;
$header-font-style: regular;