//
// BODY
//
$body-font-family: source-sans-pro, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$font-smoothing: antialiased;

//
// HEADERS
//
$header-font-family: $body-font-family;
$header-font-weight: 300;
$header-font-style: light;