//
// BODY
//
$body-font-family: muli, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$font-smoothing: antialiased;

//
// HEADERS
//
$header-font-family: $body-font-family;
$header-font-weight: 400;
$header-font-style: regular;