.hero {
  padding: 100px 0;
  background-color: $hero-background;
  border-top: 1px solid rgba($black, 0.2);
  border-bottom: 1px solid rgba($black, 0.2);
}

.hero h4 {
  color: $white;
  text-shadow: 1px 1px 1px rgba($body-font-color, 0.7);
}

.hero form {
  margin-top: 50px;
}

.hero-form-explanation {
  font-size: 0.8rem;
  position: relative;
  top: -10px;
  left: 8px;
  color: $black;
}

.why-regard, .values {
  padding: 20px 0;
}

.value-proposition {
  padding: 50px 0;
  border-bottom: 1px solid rgba($black, 0.2);
}

.benefits {
  padding: 50px 0;
}