.hero {
  padding: 100px 0;
  background: url('../img/tiny_grid.png') repeat;
  border-top: 1px solid rgba($black, 0.2);
  border-bottom: 1px solid rgba($black, 0.2);
}

.hero h4 {
  color: rgba($black, 0.8);
}

.hero form {
  margin-top: 50px;
}

.hero-form-explanation {
  font-size: 0.8rem;
  position: relative;
  top: -10px;
  left: 8px;
  color: $black;
}

.big-green {
  background-color: $darker-green;
  border-top: 1px solid rgba($black, 0.2);
  border-bottom: 1px solid darken($darker-green, 10);
}

.big-green h1, .big-green h4, .big-green p {
  color: $white;
}

.why-regard, .values {
  padding: 20px 0;
}

.big-padding {
  padding: 50px 0;
}