$side-nav-width: 200px;

.main-section {
  min-height: 1000px;
  position: relative;
}

nav.tab-bar {
  border-bottom: 1px solid darken($tabbar-bg, 10%);
  padding-right: 20px;
}

.left-side-nav {
  @include side-nav();
  
  background-color: $light-grey;
  width: $side-nav-width;
  border-right: 1px solid darken($light-grey, 10%);
  position: absolute;
  top:0;
  bottom:0;
  left:0;
}

.left-side-nav li {
  margin: 0;
}

.left-side-nav li a, .left-side-nav li.heading, .left-side-nav li.muted {
  padding: 5px 15px;
  color: $black !important;
}

.left-side-nav li a:hover {
  background-color: darken($light-grey, 5%);
}

.left-side-nav li a.active {
  border-left: 5px solid $regard-green;
  padding-left: 10px;
  color: $regard-green !important;
}

.muted {
  opacity: 0.5;
}

.main-container {
  margin-left: $side-nav-width;
  margin-top: 0 !important;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}