extends layout

block content
    .row
        .small-6.columns.small-offset-3            
            h2.text-center Page not found.
    .row
        .small-12.columns
            p.text-center If you think you have arrived here by mistake, please contact us.