extends layout

block content
    .row
        .medium-6.columns.medium-offset-3.text-center
            h2 Page not found.
            p If you think there should be something here, please 
              a(href="mailto:david@withregard.io") let us know.