extends layout

block content
  .row
    .medium-12.columns
      h2.small-padding About Regard
  .row
    .medium-12.columns
      p Regard is an open source product built by a team of software developers working for <a href="http://redgate.ventures" target="_blank">Red Gate Ventures</a> in Cambridge, England. We're building an analytics platform that we believe in. Collecting data in the open. Being transparent with users.
  .row
    .medium-3.columns
      .pic.kevin
      h5 Kevin Boyle
      h5.subheader 
        em Software developer
      .row
        .medium-3.columns.icons
          a(href="http://www.github.com/kevfromireland")
            i.icon.github-icon
          a(href="https://twitter.com/kevfromireland")
            i.icon.twit-icon
          a(href="mailto:kevin@withregard.io")
            i.icon.email-icon
    .medium-3.columns
      .pic.david
      h5 David Blurton
      h5.subheader 
        em Web developer
      .row
        .medium-3.columns.icons
          a(href="http://www.github.com/davidblurton")
            i.icon.github-icon
          a(href="https://twitter.com/davidblurton")
            i.icon.twit-icon
          a(href="mailto:david@withregard.io")
            i.icon.email-icon
    .medium-3.columns
      .pic.andrew
      h5 Andrew Hunter
      h5.subheader 
        em Software developer
      .row
        .medium-3.columns.icons
          a(href="http://www.github.com/AndrewHunterRedGate")
            i.icon.github-icon
          a(href="mailto:andrew@withregard.io")
            i.icon.email-icon
    .medium-3.columns
      .pic.neil
      h5 Neil Anderson
      h5.subheader 
        em
          a(href="http://www.bullshitjob.com/title/")
            Dynamic optimization liason
      .row
        .medium-3.columns.icons
          a(href="http://www.github.com/eneiand")
            i.icon.github-icon
          a(href="https://twitter.com/NeilAnders0n")
            i.icon.twit-icon
          a(href="mailto:neil@withregard.io")
            i.icon.email-icon
  section.big-padding
      .row
          .large-6.columns.large-centered  
