extends layout

block content
    .row
        .small-4.columns
            h2.small-padding About Regard
    .row
        .small-12.columns
            p Regard is an open source product built by a team of software developers working for Red Gate Ventures in Cambridge, England. We're building an analytics platform that we believe in. Collecting data in the open. Being transparent with users
    .row
        .small-3.columns
            img(src="/assets/img/profiles/kevin.jpg")
            h5.subheader Kevin Boyle
            h5.subheader 
              em Software Developer
            .row
              .small-3.columns.git-icon
                a(href="http://www.github.com/kevfromireland")
                  img(src='assets/img/Github-Mark-32px.png')
              .small-2.columns.twit-icon
                a(href="https://twitter.com/kevfromireland")
                  img(src='assets/img/bird_blue_32.png')
              .small-4.columns.mail-icon.end
                a(href="mailto:kevin@withregard.io")
                  img(src='assets/img/appbar.email.hardedge.svg')
        .small-3.columns
            img(src="/assets/img/profiles/david.jpg")
            h5.subheader David Blurton
            h5.subheader 
              em Software Developer
            .row
              .small-3.columns.git-icon
                a(href="http://www.github.com/davidblurton")
                  img(src='assets/img/Github-Mark-32px.png')
              .small-2.columns.left.twit-icon
                a(href="https://twitter.com/davidblurton")
                  img(src='assets/img/bird_blue_32.png')
              .small-4.columns.mail-icon.end
                a(href="mailto:david@withregard.io")
                  img(src='assets/img/appbar.email.hardedge.svg')
        .small-3.columns
            img(src="/assets/img/profiles/andrew.jpg")
            h5.subheader Andrew Hunter
            h5.subheader 
              em Software Developer
            .row
              .small-3.columns.git-icon
                a(href="http://www.github.com/AndrewHunterRedGate")
                  img(src='assets/img/Github-Mark-32px.png')
              .small-4.columns.mail-icon.end
                  a(href="mailto:andrew@withregard.io")
                    img(src='assets/img/appbar.email.hardedge.svg')
        .small-3.columns
            img(src="/assets/img/profiles/neil.jpg")
            h5.subheader Neil Anderson
            h5.subheader 
              em Software Developer
            .row
              .small-3.columns.git-icon
                a(href="http://www.github.com/eneiand")
                  img(src='assets/img/Github-Mark-32px.png')
              .small-2.columns.left.twit-icon
                a(href="https://twitter.com/NeilAnders0n")
                  img(src='assets/img/bird_blue_32.png')
              .small-4.columns.mail-icon.end
                a(href="mailto:neil@withregard.io")
                  img(src='assets/img/appbar.email.hardedge.svg')
    section.big-padding
        .row
            .large-6.columns.large-centered  