extends blogLayout
block title
  h1 Why do we hide analytics from our users?
  p
    a(href="/about") Andrew Hunter
    span &nbsp;on 11th June 2014 
    
block post  
  p One of the hardest part of developing software is finding out how it is actually used once it has been released. Analytics platforms provide a way to address this issue, by collecting and aggregating data based on actions performed by real users.

  p However, for users, analytics is a black box. If they are lucky enough to be asked to consent to them, it’s very likely that they will be asked a vague question, perhaps asking if they want to ‘help improve the product’. If the product is being used to store confidential or private data, the user has no way to tell what is actually being sent and every reason to be wary that the data that is being captured contains details that they would be uncomfortable with sharing.

  p Worse, once the data has been sent to the developer, it leaves the control of the user. If it’s discovered after the fact that an application has overstepped the mark in terms of what is being collected, the user is entirely at the mercy of the developer or their data collection service in terms of what can be done in order to redact the data.

  p We believe this situation should change. It’s bad for the user, who won’t get application improvements when they do the logical thing and opt out of data collection. It’s bad for the developer, who not only doesn’t get the data they need to make a better application but also creates a situation where the user trusts them less.

  p We think the solution has two components: transparency and ownership. The raw data used in the analytics should remain the property of the user who generated it. They should be able to review it to see exactly what it contains, and they should be able to see how the developer is aggregating it. If they decide that they don’t like what they see, they should be able to decide not just to opt-out of future data collection but to be able to delete what is already there.

  p This way, analytics is no longer a black box. Users can know that they can trust developers as they can see exactly what is being collected and what is being done with it. Developers can use the platform with confidence, knowing that it won’t alienate their users.

  p This is the platform we are trying to build at <a href="https://withregard.io">withregard.io</a>. We want to help developers build better apps through data, and we want to treat end-users with respect while doing so.
  
  a.usereventslink Check out your data for this site...