extends layout

block content
    .row
        .small-4.columns.small-offset-8            
            h2.text-right About Regard
    .row
        .small-4.columns
            p blah blah blah
    .row
        .small-3.columns
            img(src="/assets/img/profiles/kevin.jpg")
            h5.subheader Kevin Boyle
            h5.subheader 
              em Software Developer
        .small-3.columns
            img(src="/assets/img/profiles/david.jpg")
            h5.subheader David Blurton
            h5.subheader 
              em Software Developer
        .small-3.columns
            img(src="/assets/img/profiles/andrew.jpg")
            h5.subheader Andrew Hunter
            h5.subheader 
              em Software Developer
        .small-3.columns
            img(src="/assets/img/profiles/neil.jpg")
            h5.subheader Neil Anderson
            h5.subheader 
              em Software Developer
    section.big-padding
        .row
            .large-6.columns.large-centered  