extends layout

block content
  .row
    .medium-12.columns.text-center.big-padding
      h3 Regard doesn't currently work on Safari.
      h4 We're gonna fix that, but in the mean time, you can try it in Chrome.
