.contain-to-grid
  nav.top-bar(data-topbar)
    ul.title-area
      li.name
        h1
          a(href="/")
            img(src="/assets/img/regard-logo-color.png" height="64px" width="64px")
          
      li.toggle-topbar.menu-icon
        a(href="#")
    section.top-bar-section
      ul.right
        li
          a(href="http://with-regard.github.io") Blog
        li
          a(href="#") Contact us