<h1>Welcome to Regard - let's get started</h1>
<p>We've created a project to get you started. Feel free to rename it.</p>

{{input value="My cool project"}}

<p>Next we'll create the graph that you want to see.</p>
<button class="btn">Create a graph</button>
