<div class="row pad">
  <div class="medium-12 medium-centered columns text-center">
    <img src="/assets/img/regard-logo-color.svg" height="200px" width="200px"/>
    <h1>Regard</h1>
    <p>Get answers to questions about a user's behavior and their environment.</p>
  </div>
</div>
