{{#if visualizationType}}
  {{raw-number name=name data=chartdata}}
{{else}}
  <div class="chart">
    <h3>{{name}}</h3>
    {{bar-chart data=chartdata xAxisLabel=xAxisLabel yAxisLabel=yAxisLabel}}
  </div>
{{/if}}
