<section class="numbers">
{{#each investigation in investigations}}
  {{#if investigation.visualizationType}}
    {{render 'number' investigation}}
  {{/if}}
{{/each}}
</section>

<section class="charts">
  <ul class="large-block-grid-4 small-block-grid-1">
    {{#each investigation in investigations}}
    {{#unless investigation.visualizationType}}
      <li>
        {{render 'chart' investigation}}
      </li>
    {{/unless}}
  {{/each}}
  </ul>
</section>
